{% extends "base.html" %}
{% block title %}Tunnel Service{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}
{% block main %}
  <div class="home_image-wrap">
    <div class="home_image"></div>
  </div>
  <h1 class="home_heading">愿天下所有人都拥有自由 StrawberryTS</h1>
  <div class="home_register-wrap">
    <form id="register-from" accept-charset="UTF-8" method="post">
      <input type="text" name="invite-code" id="home_invite-code" placeholder="邀请码..." class="home_text-field">
      <button type="submit" class="home_register_icon"><span class="icon-arrow-right-thick"></span></button>
    </form>
  </div>
  <div class="home_cta-wrap">
    <h2 class="home_invite">
      <p>{{ unused_code_count }}</p>
      <span class="home_invite-desc">剩余邀请码</span>
    </h2>
    <a class="home_apply" href="/apply">
      <p>获取邀请码</p>
      <span class="icon-key-outline"></span>
    </a>
  </div>
{% endblock %}
